doctype html
html
  head
    title About Me
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    // Include the link to the compiled CSS file
    link(rel='stylesheet', href='./css/about.css')
    
    // Include the link to the Google Fonts stylesheet
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Sintony')
    
  body
    header
      .section
        .oop
        .fixed
          h1.large Parallax Background
          p No JavaScript, Start scrolling

    .section
      .fixed
        h1 The Day My Mother Forgot to Cry
        p I shudder to recall that dreadful Diwali night of October 2007, ...

    .section
      .p.fixed Sensing that something is seriously amiss, ...

    .section
      .p.fixed That was the beginning of the slow end for my mother. As the ...

    .section
      .p.fixed For my wife and me, she was like a little child. Our world ...

    .section
      .p.fixed It was interesting to know that even after destroying her brain ...

    .section
      .p.fixed The thud sound of a body hitting the ground rudely awakened us. ...

    .section
      .p.fixed Oh God! I said to myself. Is this is my mother, who used to ...

    .section
      .p.fixed The day she passed away and as her body was being carried in a ...

    .section
      p.fixed.white Thanks for watching
